* {
    box-sizing: border-box;
}

.btn-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 40px;
    height: 40px;
    /* background: black; */
}
.line {
    background: white;
    width: 100%;
    height: 2px;
    border-radius: 15px;
}
.header-logo-mobile {
    display: flex;
    align-items: center;
    /* flex-grow: 1; */
}


.header-nav-small__screen {
    display: none;
}

.burger-menu {
     position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container {
    max-width: 1170px;
    margin: auto;
}

header {
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: rgb(169, 80, 148);

}

.header-nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
    padding-bottom: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 8.5008px;
    margin-right: 74px;
}

.logo-name {
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 29.24px;
    font-weight: 700;
    line-height: 23.3904px;
    letter-spacing: -5%;
    text-align: left;
}

.header-nav__list {
    display: flex;
    flex-grow: 1;
    padding-left: 0;

}

.list-item {
    list-style: none;
}

.list-item .list-item__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.header-nav__list .list-item:not(:last-child) {
    margin-right: 40px;
}

.header-btn-block {
    display: flex;
    align-items: center;
    gap: 40px;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    background: inherit;
    border: none;
    cursor: pointer;
}

.location img {
    width: 20px;
    height: 20px;
}

.location span {
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.header-call {
    color: rgb(255, 196, 100);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    border: 2px solid rgb(255, 196, 100);
    border-radius: 15px;
    background: inherit;
    padding: 18px 40px;
    cursor: pointer;
}

/* header-main */

.header-main {
    position: relative;
}

.header-main-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;

}

.header-main-img {
    position: absolute;
    top: 0;
    left: 0;
}

.mashine {
    left: -108px;
    top: 128px;
    z-index: 2;
}

.star {
    top: 68px;
    left: 87px;
}

.service-man {
    z-index: 3;
}

.header-main-content {
    margin-top: 140px;
    width: 664px;
    z-index: 4;
    padding-bottom: 170px;
}

.header-main__title {
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 67px;
    font-weight: 800;
    line-height: 95%;
    letter-spacing: -1.5%;
    text-align: left;
}

.header-main__subtitle {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    color: white;
}

.header-main__subtitle span {
    color: rgb(255, 196, 100);
}

.header-main__btn {
    background: black;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    padding: 18px 50px;
    width: 222px;
    cursor: pointer;
}

/* header-modal */

.header-modal {
    display: flex;
    align-items: center;
    background-color: black;
    z-index: 100;
    border-radius: 5px;
    padding: 15px 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: flex-start;

}

.modal-info {
    display: flex;
    align-items: center;
    z-index: 100;
    background-color: black;
    flex-grow: 1;
    margin-left: 67px;
}

.modal-info img {
    margin-right: 9px;
}

.modal-block-close {
    cursor: pointer;
}

.modal-text {
    font-family: Montserrat;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
}

.modal-link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.modal-text span {
    color: rgb(255, 196, 100);
}

.modal-link a {
    color: rgb(255, 196, 100);
    text-decoration: none;
}

.modal-text-smallscreen,
    .modal-link-smallscreen {
        display: none;
    }

/* advantages section */

.advantages-wrapper {
    max-width: 1107px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-top: 117px;
    margin-bottom: 87px;
}

.advantages-item {
    max-width: 207px;
}

.advantages-text {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

/* problems */

.problems {
    background: rgb(250, 250, 250);
    /* padding-bottom: 150px; */
    min-height: 812px;
    position: relative;
    max-width: 1440px;
    margin: auto;
}

.problems-wrapper {
    display: flex;
    padding-top: 115px;
    position: relative;
}

.problems-title-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 476px;
    margin-bottom: 50px;
}

.problems-title-block span {
    color: rgb(169, 80, 148);
    font-family: TT Norms;
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 5%;
    text-align: left;
    text-transform: uppercase;

}

.problems-title-block h2 {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    margin: 0;
}

.problems-variants {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 20px;
    max-width: 594px;
}

.problem-item {
    border: 1px solid rgb(150, 49, 125);
    border-radius: 15px;
    background: white;
    color: rgb(150, 49, 125);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 15px 29px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.problem-item:hover {
    background: rgb(150, 49, 125);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.warning-block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.warning-block p {
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    margin: 0;
}

/* .problems-img img {
    position: absolute;
    top: 0;
    right: 0;
} */

.mashine-problem {
    position: absolute;
    right: 61px;
    top: 61px;
}

.bg-problem {
    position: absolute;
    top: 0;
    right: 0;
}

.star-problem {
    position: absolute;
    /* right: -100px; */
}


/* table block */

.table {
    margin: auto;
    width: 971px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.table td,
th {
    padding: 25px 0;
    border-bottom: 1px solid rgb(236, 236, 236);

}

.table caption {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -1.5%;
    margin-bottom: 50px;

}

.price {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: right;
}

.table-text {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
}

.td-name {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.free {
    color: rgb(150, 49, 125);
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: right;
}

.show-more-btn {
    display: flex;
    align-items: center;
    border: none;
    color: rgb(150, 49, 125);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    gap: 10px;
    background: inherit;
    cursor: pointer;

}

.table .last-td {
    border-bottom: none;
    padding-bottom: 0;
}



/* personal */

.personal {

    background: rgb(250, 250, 250);
}

.personal-block {
    padding-top: 100px;
}

.personal-header {
    text-align: center;
    margin-bottom: 50px;
}

.personal-subitle {
    color: rgb(150, 49, 125);
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.personal-title {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 45px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;

}

.personal-wrapper {
    display: flex;
    justify-content: space-between;
}

.personal-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 60px) / 3);
    border: 1px dashed rgb(189, 189, 189);
    border-radius: 15px;

}

.person-info {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 45px;
    padding-bottom: 50px;
}

.person-name {

    /* margin-top: 50px; */
    margin: 0;
}

.person-job {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 25px;
}

.person-achivs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.achivs-item {
    display: flex;
    align-items: center;
    gap: 12px;

}

.achivs-item span {
    color: rgb(150, 49, 125);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

.person-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    padding-bottom: 100px;
}

.arrow-block {
    display: flex;
    gap: 40px;
}

.arrow-prew:hover img {}

.arrow-next:hover img {}

.dots {
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(150, 49, 125);
}

/* .dot:hover {
    padding: 20px;
    border: 1px solid ;
    border-radius: 50%;
    overflow: hidden;
} */


/* reviews */

.reviews-title {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

.reviews-wrapper {
    display: flex;
    gap: 30px;

}

.reviews-item {
    width: 50%;
    min-height: 417px;
    padding: 75px 50px;
    background: rgb(250, 250, 250);
}

.author-about {
    display: flex;
    align-items: center;
    gap: 30px;
}

.author-bio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.author-name {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 22px;
    font-weight: 500;
    /* line-height: 28px; */
}

.review-text {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
}

/* raiting */

.raiting-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.raiting-card {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: calc((100% - 60px) / 3);
    padding: 35px;
}

.raiting-score {
    gap: 10px;
    display: flex;
    align-items: center;
    padding-right: 28px;
    border-right: 1px solid rgb(227, 227, 227);
}

.raiting-now {
    font-weight: 700;
    font-size: 35px;
}

.raiting-full {
    font-weight: 500;
    font-size: 25px;
}

.raiting-company {
    padding-left: 28px;
}

.score-all {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 5px;
}

/* questions */

.accordion-wrapper {
    display: flex;
    gap: 106px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.accordion {
    flex-grow: 1;
}

.quest-title {
    max-width: 325px;
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

.quest-subtitle {
    max-width: 301px;
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -5%;
    text-align: left;
}

.quest-subtitle a {
    color: rgb(169, 80, 148);
}

.element {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 30px 18px 35px;
}

.element-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: rgb(150, 49, 125);
    border-radius: 50%;
}

/* .container {
    border: 1px solid black;
} */

/* summon */

.summon-master {
    /* position: relative; */
    max-width: 1440px;
    margin: auto;

}

.summon-wrapper {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* z-index: 1; */
}

/* .summon-bg {
    /* overflow: hidden; */
/* align-self: center; */
/* z-index: -1; */
/* position: relative; */
/* background-size: contain; */
/* } */

.summon-master {
    max-width: 1440px;
    position: relative;
    min-height: 380px;
    display: flex;
}

.summon-bg-img {
    /* max-width: 90rem;
    object-fit: cover;
    z-index: -1;
    position: absolute; */
    /* width: 99%; */
    position: absolute;
    background-size: contain;
    max-width: 100%;
    min-height: 100%;
    z-index: -10;
}

.summon-content {
    /* width: 1341px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* left: 50px; */
    /* top: 100px; */
    z-index: 10;
    /* position: absolute; */
    padding: 50px 84px;
    background-color: white;


}

.summon-title {
    color: rgb(23, 23, 23);
    font-family: TT Norms;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -1.5%;
    text-align: left;
}

.summon-subtitle {
    font-family: TT Norms;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.summon-subtitle span {
    color: rgb(169, 80, 148);
}

.summon-input {
    padding: 25px 0 25px 30px;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    color: black;
    width: 326px;
    border: 1px solid rgb(245, 245, 245);
    outline: none;
}

.summon-btn {
    background: rgb(169, 80, 148);
    color: white;
    border-radius: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 314px;
    text-align: center;
    border: 1px solid rgb(169, 80, 148);
    cursor: pointer;
    z-index: 20;
}

.summon-form-1 {
    display: flex;
    gap: 30px;
}

/* contacts */

.contacts {
    padding-top: 100px;
}

.contacts-wrapper {
    display: flex;
    gap: 70px;
    align-items: center;
}

.office {
    display: flex;
    flex-direction: column;
    margin-top: 50px;

    gap: 10px;
}

.address {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.control-room {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-title {
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 38px;
    font-weight: 700;
    line-height: 100%;
}

.email-adress {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.contacts-btn {
    padding: 18px 40px;
    color: rgb(153, 50, 128);
    font-family: TT Norms;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border: 1px solid rgb(153, 50, 128);
    border-radius: 15px;
    background-color: inherit;
    cursor: pointer;
}

.contact-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
}

/* footer */

.footer {
    padding-bottom: 25px;
}

.footer-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.footer-logo span {
    color: rgb(0, 0, 0);
    font-family: TT Norms;
    font-size: 29.24px;
    font-weight: 700;
    line-height: 23.3904px;
    letter-spacing: -5%;
    text-align: left;
}

.footer-nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 35px;
}

.footer-nav-link {
    text-decoration: none;
    color: black;
}

.footer-nav-item {
    list-style: none;
}

.footer-pay {
    background: rgb(250, 250, 250);
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.logo-card {
    padding: 17px 28px;
    background: white;
    border-radius: 10px;
}



/* Адаптив */

@media (max-width: 1200px) {
    /* .header-nav {
        padding-left: 10px;
        padding-right: 10px;
    } */

    .container {
        max-width: 70rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mashine {
        max-width: 402px;
    }
    .header-nav {
        justify-content: space-between;
        /* padding-left: 10px;
        padding-right: 10px; */
    }
    .header-logo {
        margin-right: 30px;
    }
    .service-man {
        max-width: 720px;
    }
    .modal-info {
        margin-left: 35px;
    }
    .header-main__title {
        font-size: 54px;
    }

    .summon-content {
        padding: 15px 32px;
    }

    .raiting-card {
        padding: 15px;
    }

    .accordion-wrapper {
        justify-content: space-between;
    }

    .contacts-wrapper {
        flex-direction: column;
    }

    .contact-info-wrapper {
        margin-top: 25px;
        align-items: center;
        flex-direction: row;
    }
    .office {
        margin-top: 0;
    }

    .mashine-problem {
        width: 40%;
    }
    .bg-problem {
        width: 35%;
    }
    .problems {
        min-height: 736px;
    }
    .table {
        padding-bottom: 50px;
    }
    .personal-block {
        padding-top: 50px;
    }
    .person-nav {
        padding-bottom: 30px;
    }
    .raiting-now {
        font-size: 30px;
    }
    .raiting-score {
        padding-right: 15px;
    }
    .raiting-company {
        padding-left: 15px;
    }
    .contact-info-wrapper {
        gap: 15px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 60rem;
    }

    .header-nav__list .list-item:not(:last-child) {
    margin-right: 20px;
    }

    .header-btn-block {
        gap: 20px;
    }
    .header-main__title {
        font-size: 32px;
    }
    .header-main__subtitle {
        font-size: 16px;
    }
    .header-main-content {
        width: 530px;
    }
    .header-main-content {
        margin-top: 80px;
    }
    .service-man {
        width: 514px;
    }
    .mashine {
        width: 260px;
    }
    .modal-text-smallscreen,
    .modal-link-smallscreen {
        display: block;
    }
   
    .modal-text-desktop,
    .modal-link-desktop {
        display: none;
    }
    .advantages-text {
        font-size: 16px;
    }
    .advantages-wrapper {
        align-items: center;
    }
    .problems-title-block h2 {
        font-size: 32px;
    }
    .problems-variants {
    column-gap: 10px;
    row-gap: 12px;
    max-width: 594px;
    }
    .warning-block {
        margin-top: 25px;
    }
    .problems {
        min-height: 665px;
    }
    .table {
        width: 700px;
    }
    .personal-title {
        font-size: 32px;
    }
    .achivs-item span {
        font-size: 12px;
    }
    .reviews-title {
        font-size: 32px;
    }
    .review-text {
        font-size: 16px;
        
    }
    .reviews-item  {
        padding-bottom: 50px;
    }
    .raiting-wrapper {
        flex-direction: column;
    }
    .raiting-card {
        width: 350px;
    }
    .raiting-score {
        padding-right: 25px;
    }
    .raiting-company {
        padding-left: 25px;
    }
    .problem-item {
        padding: 10px 15px;
    }
    .table caption {
        font-size: 32px;
    }
    .accordion-wrapper {
        gap: 40px;
    }
    .summon-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .summon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .summon-title {
        margin: 0;
    }
    .summon-master {
        min-height: 280px;
    }
    .contacts {
        padding-top: 50px;
    }
    .contacts-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-info-wrapper {
        flex-direction: column;
    }
    .office,
    .control-room {
        text-align: center;
    }

    .header-nav-small__screen {
        display: flex;
        align-items: center;

    }
    .header-nav {
        display: none;
    }
}

@media (max-width: 768px) {
    
}